/* Write your CSS here */
.title-style {
  font-size: 15px;
  font-weight: 510;
  margin-right: 40px;
}
.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.btnstyle {
  background-color: transparent;
  color: #ff0b37;
  border-color: #ff0b37;
  border-radius: 8px;
  height: 30px;
  width: 70px;
}
